<h1>Babelの使い方</h1>
  <p>Babelは連歌・リレー小説アプリです</p>
  <p>自分、あるいは他の人が書き始めた作品（プロジェクト）の続きを書いていくことでみんなで一つの作品を作ることができます</p>
  <br>
  <h2>ログインしていない場合</h2>
    <p>新規ユーザー登録は<%= link_to "こちら", new_user_registration_path %></p>
    <p>すでにアカウントをお持ちの方は<%= link_to "こちら", new_user_session_path  %></p>
  <br>
  <h2>ログインしている場合</h2>
    <p>ログインしている場合は新規プロジェクトの作成、進行中のプロジェクトの編集、レビューの投稿ができます</p>
  <h3>投稿・編集方法</h3>
    <p>①「新規プロジェクト」でタイトルと本文を入力すると「進行中のプロジェクト」に送信されます</p>
    <p>②そこに他の人のプロジェクトをふくめた進行中のプロジェクトが一覧で並んでいます</p>
    <p>その中で自分が続きを描きたいものをクリックします</p>
    <p>③開くとタイトル、本文と「続きを書く」、「完成！」ボタンが出てきます</p>
    <p>「続きを書く」を押すとそれまでの続きから自分が文章を書くことができます。</p>
    <p>「完成！」を押すとプロジェクトは「終了したプロジェクト」に送信され、閲覧のみできるようになります</p>
  <h3>レビュー機能について</h3>
    <p>投稿詳細ページを開くと本文の下にレビュー一覧とレビュー投稿があります</p>
    <p>プロジェクトについての感想や批評、ユーザー同士のコミュニケーションなど幅広く使ってください</p>
    <p>※他人への誹謗中傷、その他他人を不快にさせる内容は書き込まないようにお願いします</p>
