<div class="col-md-12">
  <div class="target">
    <h1>Babel</h1>
    <h2>連歌・リレー小説アプリ</h2>
      <ul>
        <p><%= link_to "進行中のプロジェクト", index_uncomplete_posts_path %></p>
        <p><%= link_to "終了したプロジェクト", index_complete_posts_path %></p>
        <p><%= link_to "新規プロジェクト", new_post_path %></p>
      </ul>
  </div>
</div>
