<div class="col-md-12">
  <ul>
    <li><%= link_to "進行中のプロジェクト", index_uncomplete_posts_path %></li>
    <li><%= link_to "終了したプロジェクト", index_complete_posts_path %></li>
    <li><%= link_to "新規プロジェクト", new_post_path %></li>
  </ul>
</div>
